.gradient_border::before {
  content: "";
  position: absolute;
  top: -3px; /* Adjust these values to match the padding */
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1; /* Adjust as needed */
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  border-radius: 50px;
  padding: 3px;
}

.gradient_border:hover::before {
  background: linear-gradient(to bottom, #9c4cd0, rgba(255, 255, 255, 0));
}
